link/config/fish/fish_history
link/config/fish/fish_read_history
link/config/fish/fishd.*
link/config/fish/.fuse*

link/config/ranger/history

link/root/.PyCharm*/system
link/root/.PyCharm*/config/*.key
link/root/.PyCharm*/config/tasks

link/root/.pentadactyl/info
link/root/.vim/.netrwhist
link/root/.vim/bundle

*.swp
